body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #faf9f6;
}

button, select {
  background-color: lightsalmon;
  border: 1px solid black;
  border-radius: 5px;
  height: 20px;
  margin: 0 2px;
}

.container {
  width: 98vw;
  height: 95vh;
  display: grid;
  grid-template-columns: [start] 40% [line2] 20% [line3] 20% [line4] 20% [end];
  grid-template-rows: [start] 50% [line2] 15% [line3] 35% [end];
}

.whole-map {
  grid-column: start / line3;
  grid-row: start / line2;
  display: grid;
  grid-template-columns: [start] 20% [line2] 15% [line3] 15% [line4] 45% [end];
  grid-template-rows: [start] 10% [line2] 90% [end];
}

#my-map {
  grid-column: line2 / end;
  grid-row: line2 / end;
}

#legend {
  width: 100%;
  height: 100%;
}

#legendBox {
  grid-column: start / line2;
  grid-row: line2 / end;
}

#colorButtons {
  grid-column: line4 / end;
  grid-row: start / line2;
  display: flex;
  align-items: center;
  
}

#buttonLabel {
  grid-column: line3 / line4;
  grid-row: start / line2;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.dropdown {
  grid-column: line2 / line3;
  grid-row: start / line2;
  display: flex;
  align-items: center;
}

.service-name {
  grid-column: line3 / end;
  grid-row: line3 / end;
}

.zipcode {
  grid-column: line4 / end;
  grid-row: start / line2;
}

.timeline {
  grid-column: start / end;
  grid-row: line2 / line3;
}

.heat-map {
  grid-column: start / line3;
  grid-row: line3 / end;
}

.request-time-span {
  grid-column: line3 / line4;
  grid-row: start / line2;
}

#my-map {
  width: 100%;
  height: 100%;
}

#tooltip {
  position: absolute;
  opacity: 0;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}
.tooltip-label {
  font-weight: 500;
  font-size: 10px;
  color: #888;
}

#dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

#dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown a:hover {background-color: #ddd;}

#show {display: block;}

#selected {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  font-size: 16px;
  display: none;
}

.label {
  font-size: 12px;
}